<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Egor IZymko</string>
	<key>Builder Version</key>
	<string>9537.85.10.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>SendTab URL</string>
	<key>CFBundleIdentifier</key>
	<string>com.izymko.safari.sendtab</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>shortenize.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Menu url</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Checked State</key>
						<real>0.0</real>
						<key>Command</key>
						<string>recive url</string>
						<key>Identifier</key>
						<string>reciveurl</string>
						<key>Image</key>
						<string></string>
						<key>Title</key>
						<string>Recive URL</string>
					</dict>
					<dict>
						<key>Checked State</key>
						<real>0.0</real>
						<key>Command</key>
						<string>send url</string>
						<key>Disabled</key>
						<false/>
						<key>Identifier</key>
						<string>sendurl</string>
						<key>Image</key>
						<string></string>
						<key>Separator</key>
						<false/>
						<key>Title</key>
						<string>Send URL</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>sendurl-_-</string>
				<key>Image</key>
				<string>hash.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>SendTab</string>
				<key>Menu</key>
				<string>Menu url</string>
				<key>Palette Label</key>
				<string>SendTab</string>
				<key>Tool Tip</key>
				<string>Click for menu</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Working extension for SendTab</string>
	<key>DeveloperIdentifier</key>
	<string>5LWFVZ2P4K</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
