<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>bitlyusername</string>
		<key>Title</key>
		<string>SendTab Support</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>auth</string>
		<key>Title</key>
		<string>md5 auth</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>from</string>
		<key>Key</key>
		<string>fromnode</string>
		<key>Title</key>
		<string>from node</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>to</string>
		<key>Key</key>
		<string>tonode</string>
		<key>Title</key>
		<string>to node</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
